<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Information for New Course</title>

</head>
<form action="/submit-new-course" method="post">
    <div>
        <label for="courseDeptCode">Department Code (2-4 Letter):</label>
        <input type="text" id="courseDeptCode" name="courseDeptCode" required><br><br>
        <label for="courseNum"> Course Number (4-digit number): </label>
        <input type="number" id="courseNum" name="courseNum" required><br><br>
        <label for="courseName">Course Name:</label>
        <input type="text" id="courseName" name="courseName" required><br><br>
        <label for="degreeName">Degree Name:</label>
        <input type="text" id="degreeName" name="degreeName" required><br><br>
        <label for="degreeLevel">Degree Level:</label>
        <input type="text" id="degreeLevel" name="degreeLevel" required><br><br>
        <label for="isCore">Core Class:</label>
        <select id="isCore" name="isCore" class="form-control" required>
            <option value="" disabled selected hidden></option>
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>

    </div>
    <br/>
    <label> A Course requires at least 1 section to exist. Enter information for Section below:</label>
    <br/>
    <br/>
    <div>
        <label for="sectionID">Section ID (Enter 3 Digit Number):</label>
    <input type="text" id="sectionID" name="sectionID" required><br><br>

    <div class="format">
        <label for="semester">Semester:</label>
        <select id="semester" name="semester" class="form-control">
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>
        </select>
        
        <label for="year">Year:</label>
            <select id="year" name="year" class="form-control">
                <!-- Add the years you want to include -->
                {% for y in range(2020, 2030) %}
                    <option value="{{ y }}">{{ y }}</option>
                {% endfor %}
    </select>
    </div>
    <br/>
    
    <div>
    <label for="instructorID">Instructor ID:</label>
    <input type="number" id="instructorID" name="instructorID" required><br><br>

    <label for="numStudents">Number of Students:</label>
    <input type="number" id="numStudents" name="numStudents" required><br><br>

    <input type="submit" value="Submit">


    </div>
    
</form>
</html>
