<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Desired Course</title>
</head>
<form action="/course-result" method="post">
    <label for="courseID">Course ID:</label>
    <input type="text" id="courseID" name="courseID" required><br><br>
    <label for="courseName">Course Name:</label>
    <input type="text" id="courseName" name="courseName" required><br><br>
    <input type="submit" value="Submit">
</form>
</html>
