<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Information for New Course</title>
</head>
<form action="/submit-new-course" method="post">
    <label for="courseDeptCode">Department Code (2-4 Letter):</label>
    <input type="text" id="courseDeptCode" name="courseDeptCode" required><br><br>
    <label for="courseNum"> Course Number (4-digit number): </label>
    <input type="number" id="courseNum" name="courseNum" required><br><br>
    <label for="courseName">Course Name:</label>
    <input type="text" id="courseName" name="courseName" required><br><br>
    <label for="degreeName">Degree Name:</label>
    <input type="text" id="degreeName" name="degreeName" required><br><br>
    <label for="degreeLevel">Degree Level:</label>
    <input type="text" id="degreeLevel" name="degreeLevel" required><br><br>
    <input type="submit" value="Submit">
</form>
</html>
