<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Information for New Section</title>
    <style>
        .format {
            margin-bottom: 10px; /* Adjust margin as needed */
        }
    </style>
</head>
<form action="/submit-new-section" method="post">
    <label for="sectionID">Section ID (Enter 3 Digit Number):</label>
    <input type="text" id="sectionID" name="sectionID" required><br><br>

    <label for="courseDeptCode">Department Code (2-4 Letter):</label>
    <input type="text" id="courseDeptCode" name="courseDeptCode" required><br><br>
    <label for="courseNum"> Course Number (4-digit number): </label>
    <input type="number" id="courseNum" name="courseNum" required><br><br>

    <div class="format">
        <label for="semester">Semester:</label>
        <select id="semester" name="semester" class="form-control">
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>
        </select>
    
        <label for="year">Year:</label>
            <select id="year" name="year" class="form-control">
                <!-- Add the years you want to include -->
                {% for y in range(2020, 2030) %}
                    <option value="{{ y }}">{{ y }}</option>
                {% endfor %}
    </select>
    </div>
    
    <div>
    <label for="instructorID">Instructor ID:</label>
    <input type="number" id="instructorID" name="instructorID" required><br><br>

    <label for="numStudents">Number of Students:</label>
    <input type="number" id="numStudents" name="numStudents" required><br><br>
    
    <input type="submit" value="Submit">
    </div>
    
</form>
</html>
