<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Information for New Instructor</title>
</head>
<form action="/submit-new-instructor" method="post">
    <label for="instructorID">Instructor ID:</label>
    <input type="text" id="instructorID" name="instructorID" required><br><br>
    <label for="instructorName">Instructor Name:</label>
    <input type="text" id="instructorName" name="instructorName" required><br><br>
    <input type="submit" value="Submit">
</form>
</html>
