<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Information for New Learning Objective</title>
</head>
<form action="/submit-new-learning-objective" method="post">
    <label for="objectiveTitle">Objective Title:</label>
    <input type="text" id="objectiveTitle" name="objectiveTitle" required><br><br>
    <label for="objectiveDescription">Description:</label>
    <input type="text" id="objectiveDescription" name="objectiveDescription" required><br><br>
    <label for="courseID">Course ID:</label>
    <input type="text" id="courseID" name="courseID" required><br><br>
    <input type="submit" value="Submit">
</form>
</html>
