<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Page</title>
</head>
<body>
    <h1>Add Information:</h1>
    <form action="/add-degree" method="get">
        <button type="submit">Add Degree</button>
    </form>
    <form action="/add-course" method="get">
        <button type="submit">Add Course</button>
    </form>
    <form action="/add-instructor" method="get">
        <button type="submit">Add Instructor</button>
    </form>
    <form action="/add-section" method="get">
        <button type="submit">Add Section</button>
    </form>
    <form action="/add-learning-objective" method="get">
        <button type="submit">Add Learning Objective</button>
    </form>
    <form action="/add-level" method="get">
        <button type="submit">Add Level</button>
    </form>
    <form action="/enter-evaluation-init" method="get">
        <button type="submit">Add Evaluation</button>
    </form>
    <br><br>
    <button onclick="window.location.href='./'">Go Back Home</button>

</body>
</html>
