<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Page</title>
</head>
<body>
    <h1>Choose Query:</h1>
    <form action="/list-degree" method="get">
        <button type="submit">List Courses Given Degree</button>
    </form>
    <form action="/list-section" method="get">
        <button type="submit">List Sections Given Degree</button>
    </form>
    <form action="/list-objectives" method="get">
        <button type="submit">List Objective Given Degree</button>
    </form>
    <form action="/list-objective-course" method="get">
        <button type="submit">List Courses for Objective</button>
    </form>
    <form action="/list-course" method="get">
        <button type="submit">List Sections Given Course</button>
    </form>
    <form action="/list-instructor" method="get">
        <button type="submit">List Sections Given Instructor </button>
    </form>
    <form action="/list-eval" method="get">
        <button type="submit">List Evaluation</button>
    </form>
    <br><br>
    <button onclick="window.location.href='./'">Go Back Home</button>

</body>
</html>
