<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Desired Instructor</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <form action="/instructor-result" method="post">
        <label for="instructorID">Instructor ID:</label>
        <input type="text" id="instructorID" name="instructorID" required><br><br>
        <label for="instructorName">Instructor Name:</label>
        <input type="text" id="instructorName" name="instructorName" required><br><br>
        <input type="submit" value="Submit">
    </form>
    <button onclick="window.location.href='./query'" class="btn btn-primary mt-3">Go back to query page</button>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
