<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Information for New Degree</title>
</head>
<form action="/submit-new-degree" method="post">
    <label for="name">Degree Name (50 Char Max):</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="level">Degree Level (5 Char Max):</label>
    <input type="text" id="level" name="level"required><br><br>
    <input type="submit" value="Submit">
</form>
</html>
